!!! 5
%html
  %head
    %title Mootools ext examples
    = render :haml, :"Examples/_includes"
    = js "http://shjs.sourceforge.net/sh_main.min.js"
    = js "http://shjs.sourceforge.net/lang/sh_javascript.min.js"
    %link{ :rel => "stylesheet", :type => "text/css", :href => "http://shjs.sourceforge.net/css/sh_matlab.css" }/
  %body
    %haeder
      Examples
      %nav
        - %w{Class.Includes Class.States Class.Macros}.each do |page|
          %li
            %a{:href => "/Examples/index.haml?file=#{page}.js"}>= page

    - if params[:file]
      %section.code
        %pre.sh_javascript
          :preserve
            #{File.open("Examples/#{params[:file]}", 'r') {|f| f.read }}
      %section#output
